body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    background-color: rgb(238, 21, 21);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

